body{
    height: 100vh;
    background-color: rgb(226, 225, 225);
    display : flex
}

.main {
    margin: 70px auto 500px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    
}

div + div {
    margin-top: 10px;
}

.title{
    font-size: 20px;
    font-weight:800 ;
    margin : auto
}
.slogan{
    font-size: 17px;
    margin : 10px auto
    
}

.form-submit{
    margin-top: 30px;
}

form-group {
    display: flex;
}

input {
    min-width: 250px;
}

