*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  background-color: #f4f4f5;
}

body>div{
  margin: auto
}

/* CSS BUTTON */

#btn{
  display: flex;
  
}

.btn{
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  min-width: 100px;
  cursor: pointer;
  color: #fff;
  transition: opacity ease 0.2s;
  
}
.btn:hover{
  opacity: 0.8;
}

.btn + .btn{
  margin-left: 20px;
}

.btn--success{
  background-color:#6cc931 ;
}
.btn--warning{
  background-color:#f6b10e ;
}
.btn--danger{
  background-color:#f14939 ;
}



/* CSS MESSAGE */
#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast{
  display:flex;
  align-items: center;
  background-color: #fff;
  border-left: 2px solid;
  max-width: 450px;
  min-width: 400px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s ;
  animation: slideInLeft ease 0.5s, fadeOut linear 1s 3s forwards;
}

@keyframes slideInLeft {
  from{
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
  
}
@keyframes fadeOut {
  to{
    opacity: 0;
  }
  
}

.toast + .toast {
  margin-top: 20px;
}
.toast__icon{
  font-size: 25px;
  margin: auto 10px;
  
}
.toast__body{
  flex-grow: 1;
}
.toast__title{
  font-size: 18px;
  font-weight: 600;
}
.toast__msg{
  font-size: 14px;
  margin-top: 2px;
  height: 20px;
}
.toast__close{
  font-size: 25px;
  margin: auto 10px
}

.toast--success .toast__icon{
  color:#4bea60 ;
  
}
.toast--info .toast__icon{
  color:#347ddf ;
  
}
.toast--warning .toast__icon{
  color:#d7a723 ;
  
}
.toast--danger .toast__icon{
  color:#ff0033 ;
  
}

.toast--success{
  border-color:#4bea60 ;
}
.toast--info{
  border-color:#347ddf ;
}
.toast--warning{
  border-color:#d7a723 ;
}
.toast--danger{
  border-color:#ff0033 ;
}
